<h2>Registration Form</h2>
<div>
  <form (ngSubmit)="onFormSubmit()" [formGroup]="reactiveForm">
    <ng-container>
      User Name:
      <input
        type="text"
        name="userName"
        placeholder="Enter userName"
        formControlName="userName"
      />
      <br />
      <br />
      password:
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        formControlName="password"
      />
      <br />
      <br />
      Confirm password:
      <input
        type="password"
        name="password"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
      <br />
      <br />
    </ng-container>
    <button type="submit">Submit</button>
  </form>
</div>