<router-outlet></router-outlet>

<!-- 
<input #child1 />
<p #child2>This is child1 of child2</p>
<p #child2>This is child2 of child2</p>
<p #child2>This is child3 of child2</p>
<p #child2>This is child4 of child2</p>
<button (click)="onSubmit()">Submit</button> 
-->

<!-- 
<ng-container *ngIf="toggle; else toggleOff">
  <p>The toggle is on</p>
</ng-container>
<ng-template #toggleOff>
  <p>The toggle is on</p>
</ng-template>
<button (click)="handleToggle()">toggle</button>
 -->

<!-- 
 <ng-container *ngFor="let user of users" >
  <li *ngIf="user==='user1'">{{user}}</li>
 </ng-container>
-->

<app-content>
  <p class="r1">This is ng-content one</p>
  <p class="r2">This is ng-content two</p>
</app-content>